# Ignore without extension
*
!*.*
!*/

# Other VCS
.anu/
_darcs/
.pijul/

# VCS Cross Support
darcs.marks
git.marks

# Compiled-objects

*.class # Java Class Files
*.hi    # Haskell Interface Files
*.o     # C/C++ Object Files
*.ttm   # Idris2
*.ttc   # Idris2

# Output Dirs

.build/

# Non-supported

gradlew.bat # Windows gradle wrapper
